@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="/Memory/Memory"><h3>Memory</h3></a>
    <a href="/Perception/ReactionTimeTest"><h3>Reaction Time Test</h3></a>
    <a href="/Coordination/Index"><h3>Coordination</h3></a>
    <a href="/Reasoning/Wordle"><h3>Reasoning</h3></a>
</div>
