@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/appStyles.css">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <button class="s" onclick="window.location.href ='/Memory'">Memory</button>
    <button class="s" onclick="window.location.href ='/Perception/ReactionTimeTest'">Perception</button>
    <button class="s" onclick="window.location.href ='/Coordination/Index'">Coordination</button>
    <button class="s" onclick="window.location.href ='/Reasoning/Wordle'">Reasoning</button>
    <button class="s" onclick="window.location.href ='/Attention/ColorGuess'">Attention</button>
    <button class="s" onclick="window.location.href ='/Results/Index'">Results</button>
</div>
