
@{
    ViewData["Title"] = "ReactionTimeTest";
}

<h1>ReactionTimeTest</h1>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reaction time test 6</title>
    <link rel="stylesheet" href="~/css/reactionTimeTestStyles.css">

</head>
<body>

    <div id="text">
        <h1>Click on the <span class="gr">GREEN</span> box as fast as u can :)</h1>
        <h5> Click "Save Game" to save your best result.</h5>
    </div>
   
    <div>
        <button class="s" onclick="gameStart()" type="button">Start Game</button>
        <button class="s" id="SaveGame" type="button">Save Game</button>
    </div>
    <p class="p">Reaction time: <span id="time">0</span>s</p>
    <h1> </h1>
    <div id="box"></div>

    <script src="~/js/reactionTimeTestScript.js"></script>
</body>
</html>

