@model IEnumerable<CoordinationModel>

@{
    ViewData["Title"] = "TinyShapes";

}
<h1> Results for Tiny Shapes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Position
            </th>
            <th>
                Time [s]
            </th>
            <th>
                numbr of Clicks
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            var a = 1;
        }

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @a
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReactionTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfClick)
                </td>

            </tr>
            a++;

        }
    </tbody>
</table>