@{ ViewData["Title"] = "Result"; }

<h1>Results for</h1>
<a href="/Results/Attention"><h3>Attention Test</h3></a>
<a href="/Results/CLevelEasy"><h3>Coordination level easy</h3></a>
<a href="/Results/CLevelMedium"><h3>Coordination level medium</h3></a>
<a href="/Results/CLevelHard"><h3>Coordination level hard</h3></a>
<a href="/Results/CMediumShapes"><h3>Coordination level medium shapes</h3></a>
<a href="/Results/CTinyShapes"><h3>Coordination level tiny shapes</h3></a>
<a href="/Results/Memory"><h3>Memory</h3></a>
<a href="/Results/Perception"><h3>Perception</h3></a>
<a href="/Results/Reasoning"><h3>Reasoning</h3></a>

