@model IEnumerable<MemoryModel>

@{
    ViewData["Title"] = "Memory";

}
<h1> Results for memory</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Position
            </th>
            <th>
                Number of click
            </th>
            <th>
                Time [s]
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            var a = 1;
        }

        @foreach (var item in Model)
        {

        <tr>
            <td>
                @a
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfClick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTime)
            </td>

        </tr>
            a++;

        }
    </tbody>
</table>