
@{
    ViewData["Title"] = "LevelHard";
}

<h1>LevelHard</h1>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reaction time test 3</title>
    <link rel="stylesheet" href="~/css/coordinationChallangeStyles.css">
    <style>
        body {
            background-color: rgba(202, 28, 28, 0.5);
        }
    </style>
</head>
<body>
    <div id="text">
        <h1>Reaction Game</h1>
        <h2>Click as fast as you can :)</h2>
        <h2>Speed level hard</h2>
        <h4>Before you start, please enter your age and the device you are using. </h4>
        <h5> Click "Save Game" to save your best result.</h5>
    </div>
    <div>
        <input id="userAge" type="number" placeholder="Type your age">
        <input id="userDevice" type="text" placeholder="What is your device?">
    </div>
    <div>
        <button class="s" onclick="gameStart()" type="button">Start Game</button>
        <button class="s" id="SaveGame" type="button">SaveGame</button>
    </div>
    <p class="p">Reaction time: <span id="time">0</span>s</p>
    <div id="box"></div>
    <script src="~/js/CCLevelHardScript.js"></script>
</body>
</html>