@model IEnumerable<Projekt_Inzynierski.Models.AttentionModel>
@{
    ViewData["Title"] = "LevelEasy";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Coordination challange lvl 1</title>

    <link rel="stylesheet" href="~/css/coordinationChallangeStyles.css">

</head>
<body>
    <div id="text">
        <h1>Coordination challange</h1>
        <h2>Click as fast as you can in 30 sec ;)</h2>
        <h2>Speed level easy</h2>
        <button class="s" onclick="gameStart()" type="button">Start Game</button>
    </div>

    <div>
        <p class="p">Number of clicks: <span id="correct"></span> </p>
        <p class="p">Reaction time: <span id="time">0</span>s</p>
        <p class="p">Time: <span id="stoper"></span> </p>
    </div>

    <div id="box"></div>
    <script src="~/js/CCLevelEasyScript.js"></script>
</body>
</html>

