:root {
    --bound: 100px;
}

body {
    background-color: rgba(92, 128, 122, 0.5);
    text-align: center;
    color: #000000;
    opacity: 1;
    font-family: Arial;
}

.p {
    text-align: center;
    color: #000000;
    opacity: 1;
    font-family: Arial;
    font-weight: bold;
}

.s {
    background-color: rgb(0, 255, 13);
    font-family: Arial;
    font-weight: bold;
}

#box {
    width: var(--bound);
    height: var(--bound);
    background-color: red;
    opacity: 1;
    display: none;
    position: relative;
}
